.color-primary {
    color: var(--primary-color);
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 8px 10px;
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    padding: 8px 10px;
}

.section-container {
    background: url(../img/bg/concrete.webp) lightgray 50% / cover no-repeat;
    padding: 40px 150px;
}

.section-container h4 {
    color: var(--primary-color);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../img/bg/plaza-cusco.jpg) lightgray 0px -233.522px / 100% 515.942% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    height: 80px;
    color: white;
}