nav {
    position: fixed;
    width: 100%;
    transition: top 0.3s ease-in-out;
    top: 0px;
    z-index: 100;
}

@media(min-width: 1024px) {
    nav {
        top: 34px;
    }
}

.top-nav {
    display: none;
}

@media(min-width: 1024px) {
    .top-nav {
        display: flex;
        justify-content: end;
        background-color: #3C0C12;
        color: white;
        height: 34px;
    }
}


.top-nav .top-nav__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 100px;
}

.top-nav .top-nav__contact p {
    color: white;
}

.top-nav__contact p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.nav-menu-mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #00000080;
}
.nav-menu-mobile__logo {
    height: 30px;
    width: auto;
}
.nav-menu-mobile__button{
    background-color: transparent;
}
.nav-menu-mobile__button i{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
@media(min-width: 1024px) {
    .menu-mobile {
        display: none;
    }
}
.nav-menu{
    display: none;
}
@media(min-width: 1024px) {
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0px 100px;
        background: #00000080;
    }
}
.nav-menu > a{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.nav-menu__logo {
    height: 50px;
}

.nav-menu__button {
    background-color: #FF6B01;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    height: fit-content;
    margin: auto 0;
}

.menu ul {
    display: flex;
    gap: 20px;
    color: white;
    list-style-type: none;
    height:  100%;
}

.menu ul li {
    display: flex;
    align-items: center;
    height: 100%;
}
.menu ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.languages {
    display: flex;
    align-items: center;
    gap: 10px;
}

.submenu{
    display: flex;
    gap: 40px;
}

.submenu p,
.submenu a{
    color: var(--primary-color);
}


.submenu__links{
    flex: 1 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-self: stretch;
}

.submenu__links h5{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 800;
    text-align: start;
}

.submenu__links ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.submenu__description{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}

.submenu__description h5{
    font-family: "akura popo";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.3px;
}

.submenu__description p{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.submenu__image{
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu__image img{
    width: 300px;
    height: 200px;
    aspect-ratio: 3/2;
    object-fit: cover;

    border-radius: 20px;

}
.mobile-submenu{
    min-width: 100%;
}
@media(min-width:500px){
    .mobile-submenu{
        padding: 15px 30%;
    }
}

.mobile-submenu > ul > li > a{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    color: var(--primary-color);
}

.submenu-mobile{
    padding-left: 10px;
}

.submenu-mobile a{
    color: var(--primary-color);
}

.mobile-submenu__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-submenu__contact p{
    color: var(--primary-color);
}


