.hero {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  padding: 0;
}

@media(min-width: 1024px) {
  .hero {
    padding-bottom: 50px;
  }
}

.hero__content {
  display: flex;
  padding: 0px 15px 30px 15px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .hero__content {
    padding: 10px 20px 90px 20px;
  }
}

.hero__subtitle {
  text-align: center;
  color: white;
}

.hero__content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.about {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.about p {
  text-align: center;
}

.tours-list {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.tour-card {
  display: flex;
  width: 350px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tour-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.tour-card__content {
  display: flex;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.tour-card__details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-card__content__price{
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-end;
}
.tour-card__content__price .price{
  font-weight: 800;
  font-size: 24px;
}

.tour-card__content p {
  text-align: center;
}

.slogan {
  display: flex;
  flex-direction: column;
  height: auto;
}

@media(min-width: 768px) {
  .slogan {
    flex-direction: row;
    height: 489px;
  }
}

.slogan > div {
  flex: 1 0 0;
  height: 100%;
}
.slogan img {
  max-height: 100vh;
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
.slogan__content {
  display: flex;
  padding: 20px 100px 20px 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  background: linear-gradient(0deg, rgba(255, 107, 1, 0.80) 0%, rgba(255, 107, 1, 0.80) 100%) lightgray 50% / cover no-repeat;
}
@media (max-width: 1024px) {
  .slogan__content {
    padding: 20px 20px 20px 20px;
  }
}
.slogan__content h2 {
  font-family: Inter;
  color: var(--primary-color);
}

.slogan__content p {
  color: white;
}

.swiper {
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla */
}

/* Overlay para mejorar la legibilidad */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* Estilos de la paginación y navegación */
.swiper-pagination-bullet {
  background: white;
}
.swiper-button-next, .swiper-button-prev {
  color: white;
}